@font-face {
    font-family: apple;
    src: url('../SF-Pro-Text-Regular.otf');
}

@font-face {
    font-family: apple_1;
    src: url('../SF-Pro-Text-Medium.otf');
}

@font-face {
    font-family: apple_2;
    src: url('../SF-Pro-Text-Light.otf');
}

@font-face {
    font-family: apple_3;
    src: url('../SF-Pro-Text-Bold.otf');
}




:root{
  --nav_height:7vw;
  
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,html{
  width: 100%;
  height: 100%;
}

img,svg,video{
  width: 100%;
  height: 1000%;
  object-fit: cover;
}

main{
  
}
.nav{
  width: 100vw;
  height: var(--nav_height);
  background: #8F8F8F;
}



    html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
